---
layout: base.njk
title: Page Not Found
permalink: 404.html
---
<div data-router-view="error">
  <div class="scrim" data-component="scrim" data-theme="parchment"></div>
  <div class="min-vh100 f aic">
    <div class="ph20 s:ph80 m:ph120">
      <div class="x max-w822">
        <h2 class="serif f25 m:f30 l:f38 xl:f46 lh139 m:lh129 mb35 m:mb40">404 {{ title }} 👀</h2>
        <a class="f20 m:f22 l:f25 xl:f28 lh129 crimson dib stroke-hover" href="/">
          Go home →
        </a>
      </div>
    </div>
  </div>
  {% include "footer.njk" %}
</div>
