---
layout: base.njk
title: Careers
permalink: /careers/
---
<div data-router-view="careers">
  <div class="scrim" data-component="scrim" data-theme="parchment"></div>
  <div class="min-vh100 ph20 m:ph40">
    {% pageTitle careers.title %}
    <div class="f18 s:f26 lh128 s:lh125 x max-w880 mt35 m:mt50 mb60 m:mb70 a-items">
      {{ careers.body | safe }}
    </div>
    <header class="pb10 l:pb15 f a-items">
      <div class="s:w50">
        <h3 class="f16 l:f18 lh128 crimson">Position</h3>
      </div>
      <div class="dn s:db w25">
        <h4 class="f16 l:f18 lh128 crimson">Project</h4>
      </div>
      <div class="dn s:db w25">
        <h4 class="f16 l:f18 lh128 crimson">Location</h4>
      </div>
    </header>
    <dl class="accordion mb95 bb bc-crimson a-items" data-component="accordion">
      {% for job in careers.list %}
        <dt>
          <button class="accordion__header x tl f aic pv20 l:pv30 bt bc-crimson js-headers">
            <div class="s:w50 pr40">
              <h3 class="serif f20 s:f24 m:f28 l:f32 xl:f38 lh125 crimson">{{ job.title }}</h3>
            </div>
            <div class="dn s:db w25">
              <h4 class="f18 l:f22 xl:f26 lh125 crimson">{{ job.project }}</h4>
            </div>
            <div class="dn s:db w25">
              <h4 class="f18 l:f22 xl:f26 lh125 crimson">{{ job.location }}</h4>
            </div>
          </button>
        </dt>
        <dd class="accordion__panel js-panels">
          <div class="accordion__panel-inner js-inners">
            <div>
              <div class="db s:dn">
                <h4 class="f16 mb10 lh128 crimson">Project</h4>
                <p class="f20 lh115 crimson mb20">{{ job.project }}</p>
                <h4 class="f16 mb10 lh128 crimson">Location</h4>
                <p class="f20 lh115 crimson">{{ job.location }}</p>
              </div>
              <div class="x max-w1080 f18 s:f26 lh125 slate pt30 pb40">
                {{ job.description | safe }}
                {% if job.typeformLink.title and job.typeformLink.typeformUrl %}
                  <a
                    class="typeform-share serif f20 m:f22 l:f25 xl:f28 lh129 crimson dib stroke-hover stroke-hover--hex a-items"
                    href="{{ job.typeformLink.typeformUrl }}"
                    data-mode="popup"
                    data-hide-headers=true
                    data-hide-footer=true
                    target="_blank"
                  >
                    <span class="f">
                      <span class="f aic mr15">
                        <svg class="db" width="15" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M22 10L16.5 19.5263L5.5 19.5263L1.42652e-06 10L5.5 0.47372L16.5 0.47372L22 10Z" fill="#652D30"/>
                        </svg>
                      </span>
                      <span class="db rel z1">{{ job.typeformLink.title }}</span>
                    </span>
                  </a>
                {% endif %}
              </div>
            </div>
          </div>
        </dd>
      {% endfor %}
    </dl>
  </div>
  {% include "footer.njk" %}
</div>
