---
layout: base.njk
title: Home
---
<div data-router-view="home">
  <div class="scrim" data-component="scrim" data-theme="parchment"></div>
  <div class="vh100 f aic">
    <div class="ph20 s:ph80 m:ph120">
      <div class="x max-w822">
        <h2 class="serif f25 m:f30 l:f38 xl:f46 lh139 m:lh129 mb35 m:mb40 a-title">{{ home.headline }}</h2>
        {% if home.projectsLinkText | length %}
          <a class="serif f20 m:f22 l:f25 xl:f28 lh129 crimson dib stroke-hover stroke-hover--hex a-link" href="/projects/">
            <span class="f">
              <span class="f aic mr15">
                <svg class="db" width="15" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M22 10L16.5 19.5263L5.5 19.5263L1.42652e-06 10L5.5 0.47372L16.5 0.47372L22 10Z" fill="#652D30"/>
                </svg>
              </span>
              <span class="db rel z1">{{ home.projectsLinkText }}</span>
            </span>
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
