---
layout: base.njk
title: Offline
permalink: offline.html
---
<div data-router-view="offline">
  <div class="scrim" data-component="scrim" data-theme="parchment"></div>
  <div class="min-vh100 f aic">
    <div class="ph20 s:ph80 m:ph120">
      <div class="x max-w822">
        <h2 class="serif f25 m:f30 l:f38 xl:f46 lh139 m:lh129 mb35 m:mb40">You're offline 👀</h2>
      </div>
    </div>
  </div>
  {% include "footer.njk" %}
</div>
