---
layout: base.njk
title: Opportunities
permalink: /opportunities/
---
<div data-router-view="opportunities">
  <div class="scrim" data-component="scrim" data-theme="parchment"></div>
  <div class="min-vh100 ph40">
    {% pageTitle "Opportunities" %}
  </div>
  {% include "footer.njk" %}
</div>
