---
layout: base.njk
title: Partners
permalink: /partners/
---
<div data-router-view="partners">
  <div class="scrim" data-component="scrim" data-theme="parchment"></div>
  <div class="min-vh100 ph20 m:ph40">
    {% pageTitle partners.title %}
    <div class="f18 s:f26 lh128 s:lh125 x max-w880 mt35 m:mt50 mb40 m:mb50 a-items">
      {{ partners.body | safe }}
    </div>
    {% if partners.typeformLink.title and partners.typeformLink.typeformUrl %}
      <a
        class="typeform-share serif f20 m:f22 l:f25 xl:f28 lh129 crimson dib stroke-hover stroke-hover--hex a-items"
        href="{{ partners.typeformLink.typeformUrl }}"
        data-mode="popup"
        data-hide-headers=true
        data-hide-footer=true
        target="_blank"
      >
        <span class="f">
          <span class="f aic mr15">
            <svg class="db" width="15" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M22 10L16.5 19.5263L5.5 19.5263L1.42652e-06 10L5.5 0.47372L16.5 0.47372L22 10Z" fill="#652D30"/>
            </svg>
          </span>
          <span class="db rel z1">{{ partners.typeformLink.title }}</span>
        </span>
      </a>
    {% endif %}
  </div>
  {% include "footer.njk" %}
</div>
