---
layout: base.njk
title: Projects
permalink: /projects/list/
---
<div class="bg-crimson parchment" data-router-view="projects-list" data-theme="crimson">
  <div class="scrim" data-component="scrim" data-theme="crimson"></div>
  <div class="min-vh100 ph40">
    {% pageTitle projects.title, 'parchment' %}
    <header class="projects-list__header pv20 bb bc-parchment f">
      <div class="w50">
        <h3 class="f18 lh128">Title</h3>
      </div>
      <div class="w25">
        <h4 class="f18 lh128">Category</h4>
      </div>
      <div class="w25 f jcb">
        <h4 class="f18 lh128">Location</h4>
        <h4 class="f18 lh128">Year</h4>
      </div>
    </header>
    <ul class="mb65">
      {% for project in projects.selected %}
        <li>
          <a class="projects-list__item db tdn pv30 bb bc-parchment f aib" href="/project/{{ project.slug }}/">
            <div class="w50">
              <h3 class="projects-list__item__title serif f38 lh105">
                <span class="abs fill-y f aic">
                  <svg class="db" width="16" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M22 10L16.5 19.5263L5.5 19.5263L1.42652e-06 10L5.5 0.47372L16.5 0.47372L22 10Z" fill="#fffcf5"/>
                  </svg>
                </span>
                <span class="rel z1">{{ project.title }}</span>
              </h3>
            </div>
            <div class="w25">
              <p class="f26 lh125">{{ project.category }}</p>
            </div>
            <div class="w25 f jcb">
              <p class="f26 lh125">{{ project.location }}</p>
              <p class="f26 lh125">{{ project.year }}</p>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
    <div class="w50 pr20 mb80">
      <a class="link-card db r r--project ba bc-parchment rel parchment bg-parchment" href="/{{ projects.cta.link }}/">
        <div class="link-card__bg ro bg-crimson"></div>
        <div class="ro f fc jcb ph40 pt30 pb35 z1">
          <h2 class="serif f58 lh112">{{ projects.cta.title }}</h2>
          <p class="serif f28 lh129 f aic">
            <span class="mr15">
              <svg class="db" width="16" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="link-card__hex" fill="#FFFCF5" d="M22 10L16.5 19.5263L5.5 19.5263L1.42652e-06 10L5.5 0.47372L16.5 0.47372L22 10Z" />
              </svg>
            </span>
            <span>
              {{ projects.cta.subtitle }}
            </span>
          </p>
        </div>
      </a>
    </div>
  </div>
  {% include "footer.njk" %}
</div>
