---
layout: base.njk
title: Projects
permalink: /projects/list/
---
<div data-router-view="projects-list">
  <div class="min-vh100 ph40">
    {% pageTitle projects.title %}
  </div>
  {% include "footer.njk" %}
</div>
