---
layout: base.njk
title: Projects
permalink: /projects/
---
{% import 'macros.njk' as macros with context %}

<div data-router-view="projects-grid">
  <div class="scrim" data-component="scrim" data-theme="parchment"></div>
  <div class="min-vh100 ph20 m:ph40 rel">
    {% pageTitle projects.title %}
    <a class="view-toggle abs top right mt120 s:mt140 l:mt170 mr20 m:mr40" href="/projects/list/" aria-label="Go to list view">
      <div class="f aic" aria-hidden="true">
        <span class="view-toggle__label f14 m:f18 lh128">Grid</span>
        <span class="view-toggle__switch f aic ph5 m:ph10">
          <span class="view-toggle__switch__track"></span>
          <svg class="view-toggle__switch__handle db abs" width="12" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M22 10L16.5 19.5263L5.5 19.5263L1.42652e-06 10L5.5 0.47372L16.5 0.47372L22 10Z"/>
          </svg>
        </span>
        <span class="view-toggle__label o50 f14 m:f18 lh128">List</span>
      </div>
    </a>
    <ul class="f fw pt20 s:pt30 l:pt40 pb60 m:pb65 m:mhn20">
      {% for project in projects.selected %}
        <li class="x m:w50 m:ph20 mb25 m:mb35">
          <a class="projects-grid__card tdn" href="/project/{{ project.slug }}/">
            <div class="rel">
              {{ macros.lazyImage(
                'r--project',
                '',
                '',
                'x y cover',
                project.thumbnail.image,
                project.thumbnail.altText,
                false
              ) }}
              <div class="projects-grid__card__hover f26 lh125 parchment ro p20 abs fill dn m:db">
                <div class="abs fill bg-crimson o80"></div>
                <div class="rel z1">
                  <p class="projects-grid__card__hover__item">{{ project.category }}</p>
                  <p class="projects-grid__card__hover__item">{{ project.location }}</p>
                  <p class="projects-grid__card__hover__item">{{ project.year }}</p>
                </div>
              </div>
            </div>
            <h3 class="projects-grid__card__title serif f20 s:f22 m:f25 l:f28 lh129 mt10">
              <span class="abs fill-y f aic">
                <svg class="db" width="16" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M22 10L16.5 19.5263L5.5 19.5263L1.42652e-06 10L5.5 0.47372L16.5 0.47372L22 10Z" fill="#652D30"/>
                </svg>
              </span>
              <span class="rel z1">{{ project.title }}</span>
            </h3>
          </a>
        </li>
      {% endfor %}
      <li class="x m:w50 m:ph20 mt25 m:mt0">
        <a class="link-card db r r--project ba rel parchment" href="/{{ projects.cta.link }}/">
          <div class="link-card__bg ro bg-crimson"></div>
          <div class="ro f fc jcb p20 xl:ph40 xl:pt30 xl:pb35 z1">
            <h2 class="serif f26 xs:f46 m:f30 l:f46 xl:f58 lh130">{{ projects.cta.title }}</h2>
            <p class="serif f16 xs:f18 m:f20 l:f22 xl:f28 lh129 f aic">
              <span class="mr10 xl:mr15">
                <svg class="link-card__svg" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path class="link-card__hex" fill="#FFFCF5" d="M22 10L16.5 19.5263L5.5 19.5263L1.42652e-06 10L5.5 0.47372L16.5 0.47372L22 10Z" />
                </svg>
              </span>
              <span>
                {{ projects.cta.subtitle }}
              </span>
            </p>
          </div>
        </a>
      </li>
    </ul>
  </div>
  {% include "footer.njk" %}
</div>

