---
layout: base.njk
title: Tenants
permalink: /tenants/
---
<div data-router-view="tenants">
  <div class="scrim" data-component="scrim" data-theme="parchment"></div>
  <div class="min-vh100 ph20 m:ph40">
    {% pageTitle tenants.title %}
    <div class="rich-text f18 s:f26 lh128 s:lh125 x max-w880 mt35 m:mt50 mb60 m:mb70 a-items">
      {{ tenants.body | safe }}
    </div>
    {% if tenants.list | length %}
      <header class="pb10 l:pb15 f a-items">
        <div class="s:w65">
          <h3 class="f16 l:f18 lh128 crimson">Position</h3>
        </div>
        <div class="dn s:db w35">
          <h4 class="f16 l:f18 lh128 crimson">Location</h4>
        </div>
      </header>
      <dl class="accordion mb95 bb bc-crimson a-items" data-component="accordion">
        {% for vacancy in tenants.list %}
          <dt>
            <button class="accordion__header x tl f aic pv20 l:pv30 bt bc-crimson js-headers">
              <div class="s:w65 pr40">
                <h3 class="serif f20 s:f24 m:f28 l:f32 xl:f38 lh125 crimson">{{ vacancy.title }}</h3>
              </div>
              <div class="dn s:db w35">
                <h4 class="f18 l:f22 xl:f26 lh125 crimson">{{ vacancy.location }}</h4>
              </div>
            </button>
          </dt>
          <dd class="accordion__panel js-panels">
            <div class="accordion__panel-inner js-inners">
              <div>
                <div class="db s:dn">
                  <h4 class="f16 mb10 lh128 crimson">Location</h4>
                  <p class="f20 lh115 crimson">{{ vacancy.location }}</p>
                </div>
                <div class="x max-w1080 f18 s:f26 lh125 slate pb40 m:pb65">
                  {{ vacancy.description | safe }}
                  {% if vacancy.typeformLink.title and vacancy.typeformLink.typeformUrl %}
                    <a
                      class="typeform-share serif f20 m:f22 l:f25 xl:f28 lh129 crimson dib stroke-hover stroke-hover--hex a-items"
                      href="{{ vacancy.typeformLink.typeformUrl }}"
                      data-mode="popup"
                      data-hide-headers=true
                      data-hide-footer=true
                      target="_blank"
                    >
                      <span class="f">
                        <span class="f aic mr15">
                          <svg class="db" width="15" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M22 10L16.5 19.5263L5.5 19.5263L1.42652e-06 10L5.5 0.47372L16.5 0.47372L22 10Z" fill="#652D30"/>
                          </svg>
                        </span>
                        <span class="db rel z1">{{ vacancy.typeformLink.title }}</span>
                      </span>
                    </a>
                  {% endif %}
                </div>
              </div>
            </div>
          </dd>
        {% endfor %}
      </dl>
    {% else %}
      <h3 class="serif f20 s:f24 m:f28 l:f32 xl:f38 lh125 crimson mb95 bt pt20">{{ tenants.emptyState }}</h3>
    {% endif %}
  </div>
  {% include "footer.njk" %}
</div>
