---
layout: base.njk
title: Terms and Conditions
permalink: /terms-and-conditions/
---
<div data-router-view="termsAndConditions">
  <div class="scrim" data-component="scrim" data-theme="parchment"></div>
  <div class="min-vh100 ph20 m:ph40">
    {% pageTitle termsAndConditions.title %}
    <div class="rich-text f18 s:f26 lh128 s:lh125 x mt35 m:mt50 mb60 m:mb70 a-items">
      {{ termsAndConditions.effectiveDate | safe }}
      {{ termsAndConditions.content | safe }}
    </div>
  </div>
  {% include "footer.njk" %}
</div>
