@font-face {
  font-family: 'Dia';
  src: url('../assets/fonts/Dia-Regular.woff2') format('woff2'),
    url('../assets/fonts/Dia-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Suisse Works';
  src: url('../assets/fonts/SuisseWorks-Medium.woff2') format('woff2'),
    url('../assets/fonts/SuisseWorks-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
