.accordion {
  &__header {
    outline: unset;
    position: relative;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      margin-top: -1px;
      background-color: $crimson;
      transition: transform 0.4s $ease-in-out-cubic;
      height: 2px;
      width: 2.4rem;
      right: 0.5rem;

      @media (query('m')) {
        width: 3rem;
      }

      @media (query('l')) {
        right: 2.5rem;
      }
    }

    &::after {
      transform: rotate(90deg);
    }

    &[aria-expanded='true'] {
      &::before {
        transform: rotate(-135deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }
  }

  &__panel {
    margin: 0;
    max-height: 75vh;
    overflow: hidden;
    transition: all 0.4s $ease-in-out-cubic;
    max-height: 0;
    transform: none;

    p {
      margin-bottom: 1em;
    }

    &.is-hidden {
      max-height: 0 !important;
      visibility: hidden;
    }
  }

  &__panel-inner {
    a {
      font-family: 'Suisse Works', serif;
      color: $crimson;
    }
  }
}
