.hex-hover {
  position: relative;
  display: flex;

  span {
    will-change: transform, opacity;
    transition-property: transform, opacity;
    transition-duration: 0.8s;
    transition-timing-function: $ease-out-expo;

    &:first-child {
      opacity: 0;
      transform: translateX(-2.5rem) scale(0.2) rotate(-45deg);
    }
  }

  &:hover,
  &.is-active {
    span {
      &:first-child {
        opacity: 1;
        transform: none;
      }

      &:last-child {
        transform: translateX(5rem) skewX(-12deg);
      }
    }
  }
}
