.link-card {
  transition: color 0.8s $ease-out-expo;

  &__bg {
    transition: opacity 0.8s $ease-out-expo;

    .link-card:hover & {
      opacity: 0;
    }
  }

  &__svg {
    width: 10px;

    @media (query('xl')) {
      width: 1.6rem;
    }
  }

  &__hex {
    transition: fill 0.8s $ease-out-expo;

    .link-card:hover & {
      fill: $crimson;
    }
  }

  &:hover {
    color: $crimson;
  }
}
