.project {
  &__progress {
    height: 6px;
    transform-origin: left;
    transform: scaleX(0);
  }
}

.is-animateable {
  transition: transform 0.4s $ease-in-out-cubic, opacity 0.4s $ease-in-out-cubic;
}
