.project {
  &__progress {
    height: 6px;
    transform-origin: left;
    transform: scaleX(0);
  }

  &__cursor {
    width: 5.5rem;

    &__counter {
      font-variant-numeric: tabular-nums;
      transform: translate(100%, 100%);
    }
  }
}

.is-animateable {
  transition: transform 0.4s $ease-in-out-cubic, opacity 0.4s $ease-in-out-cubic;
}
