.project {
  &__progress {
    height: 6px;
    transform-origin: left;
    transform: scaleX(0);
  }

  &__pagination {
    &__outer,
    &__inner {
      transition: transform 0.8s $ease-out-expo;
    }

    &__outer {
      transform: translateY(100%);
    }

    &__inner {
      transform: translateY(-100%);
    }

    &:hover {
      .project__pagination__outer {
        transform: translateY(10%);
      }

      .project__pagination__inner {
        transform: translateY(-10%);
      }
    }
  }

  &__cursor {
    width: 5.5rem;
    opacity: 0;

    &__counter {
      font-variant-numeric: tabular-nums;
      transform: translate(100%, 100%);
    }
  }
}

.is-animateable {
  transition: transform 0.4s $ease-in-out-cubic, opacity 0.4s $ease-in-out-cubic;
}
