.projects-list {
  &__item {
    &__title {
      position: relative;
      display: flex;

      span {
        will-change: transform, opacity;
        transition-property: transform, opacity;
        transition-duration: 0.8s;
        transition-timing-function: $ease-out-expo;

        &:first-child {
          opacity: 0;
          transform: translateX(-2.5rem) scale(0.2) rotate(-45deg);
        }
      }

      .projects-list__item:hover & {
        span {
          &:first-child {
            opacity: 1;
            transform: none;
          }

          &:last-child {
            transform: translateX(3rem) skewX(-12deg);
          }
        }
      }
    }
  }
}
