<!doctype html>
<html class="bg-slate" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{{ config.seo.title }}</title>

    <link rel="preload" href="/styles/index.css" as="style">
    <link rel="preload" href="/scripts/index.js" as="script">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-104211298-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-104211298-1');
    </script>
    
    <meta name="description" content="{{ config.seo.description }}">

    {# Facebook Open Graph #}
    <meta property="og:url" content="https://rebees.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ config.seo.title }}">
    <meta property="og:description" content="{{ config.seo.description }}">
    <meta property="og:site_name" content="{{ config.seo.title }}">
    <meta property="og:locale" content="en_US">
    <meta property="og:image" content="{{ config.seo.image.url }}">
    <meta property="og:image:width" content="{{ config.seo.image.width }}">
    <meta property="og:image:height" content="{{ config.seo.image.height }}">

    {# Twitter Card #}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="https://rebees.com">
    <meta name="twitter:title" content="{{ config.seo.title }}">
    <meta name="twitter:description" content="{{ config.seo.description }}">
    <meta name="twitter:image" content="{{ config.seo.image.url }}">

    {# Favicons #}
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">
    <link rel="manifest" href="/assets/icons/site.webmanifest">
    <link rel="mask-icon" href="/assets/icons/safari-pinned-tab.svg" color="#652d30">
    <link rel="shortcut icon" href="/assets/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#fffcf5">
    <meta name="msapplication-config" content="/assets/icons/browserconfig.xml">
    <meta name="theme-color" content="#fffcf5">

    <link rel="stylesheet" href="/styles/index.css">
    <script>
      if ("serviceWorker" in navigator) {
        navigator.serviceWorker.register('/sw.js');
      }
    </script>
    <script>
      console.log('🖥️ Design and development by https://selfaware.studio');
      {# console.log = () => {} #}
    </script>
  </head>
  <body class="bg-parchment slate sans f20">
    <div id="root">
      {% include "nav.njk" %}
      <main class="rel z1" data-router-wrapper>
        {{ content | safe }}
      </main>
      <div id="size" class="fix fill pen"></div>
      <div class="fix fill pen" data-component="webglCanvas"></div>
    </div>
    <script src="https://embed.typeform.com/embed.js"></script>
    <script src="/scripts/index.js"></script>
  </body>
</html>
