<footer class="footer pt50 pb80 ph20 m:p40 parchment bg-slate xl:f jcb a-footer">
  <div class="m:f mb60 xl:mb0">
    {% for col in config.footer.columns %}
      <div class="pr60 l:pr80 mb30 m:mb0">
        <h3 class="serif f18 lh129 mb10">{{ col.title }}</h3>
        <div class="f18 lh128">
          {{ col.body | safe }}
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="m:f">
    <div class="pr-30 m:pr60 l:pr80 mb30 m:mb0">
      <a href="https://rebeesmanagement.com" target="_blank" rel="noopener noreferrer">
        <span class="visually-hidden">Rebees Management Company</span>
        {% include "logo-rmc.njk" %}
      </a>
    </div>
    <div class="pr-30 m:pr60 l:pr80 mb30 m:mb0">
      <a href="https://ignite-rebees.com" target="_blank" rel="noopener noreferrer">
        <span class="visually-hidden">Ignite Rebees</span>
        {% include "logo-ir.njk" %}
      </a>
    </div>
    <div class="m:tr">
      <a class="db m:mla mb10" href="/">
        <span class="visually-hidden">Rebees</span>
        {% include "logo-rebees.njk" %}
      </a>
      <p class="f14 lh122">{{ config.footer.copyright }}</p>
    </div>
  </div>
</footer>