{% macro lazyImage(
  containerCx,
  lqipCx,
  imgWrapCx,
  imgCx,
  image,
  altText,
  padding
) %}
  <div
    class="lazy-image{{ [' ', containerCx] | join if containerCx }}"
    data-deferred-component="lazyImage"
    {% if padding %}
      style="padding-bottom: {{ image.metadata.dimensions.height / image.metadata.dimensions.width * 100 }}%"
    {% endif %}
  >
    <div 
      class="lazy-image__lqip js-lqip{{ [' ', lqipCx] | join if lqipCx }}"
    >
      <img
        {% if imgCx %}
          class="{{ imgCx }}"
        {% endif %}
        src="{{ image.metadata.lqip }}"
        alt=""
      >
    </div>
    <div
      class="lazy-image__img-wrap js-imgWrap{{ [' ', imgWrapCx] | join if imgWrapCx }}"
    >
      <img
        class="lazy-image__img js-img{{ [' ', imgCx] | join if imgCx }}"
        data-lazy="{{ image.url }}"
        alt="{{ altText }}"
      >
    </div>
  </div>
{% endmacro %}
